node_modules
.DS_Store
*.tsbuildinfo
dist/
.env

# next.js
.next/
out/
next-env.d.ts

/packages/*/package
/packages/*/*.tgz
.vscode
# Local Netlify folder
.netlify

/docs/typedoc
/docs/index.html
/docs/hierarchy.html
/docs/assets
/apps/demo/.vscode
.khulnasoft-codegen
/fixtures/legacy-js

/apps/*/.khulnasoft-codegen
/apps/todomvc/.khulnasoft-codegen
/examples/*/.khulnasoft-codegen

# TypeDoc generated output
*.typedoc/
typedoc/
docs/typedoc/

**/src/__tests__/*.test.js